@charset 'UTF-8';
/* Main-Footer */
.main-footer{
    border-top : 1px solid #dddddd;
    .footer-item{
        padding: 0.5vw 0 0;
        display: flex;
        .item{
            padding: 0;
            text-align: center;
            width: 20%;
            &.-current{
                i{
                    color: #4fa1ff;
                }
            }
        }
        i{
            font-size: 2.2rem;
        }
        p{
            padding: 5px 0 0;
            font:400 normal 0.9rem/1 $pri-font;
        }
    }
}